<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qcloud.common">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

 <meta-data android:name="com.tencent.rdm.uuid" android:value="83b3186d-0ef4-40e4-83ca-ced776b1ee1e" />

    </application>

</manifest>
